<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codedak.lottery.member.dao.IMemberDao"> 
    <resultMap id="memberMap" type="com.codedak.lottery.entity.Member">
		<result column="ID" jdbcType="VARCHAR" property="memberID" />
		<result column="MAIL" jdbcType="VARCHAR" property="mail" />
		<result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
		<result column="PASSWORD" jdbcType="VARCHAR" property="pwd" />
		<result column="NICE_NAME" jdbcType="VARCHAR" property="niceName" />
		<result column="MARK" jdbcType="VARCHAR" property="mark" />
		<result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>

	<insert id="add" parameterType="com.codedak.lottery.entity.Member">
		insert into MEMBER
			(ID, MAIL, MOBILE, PASSWORD, NICE_NAME)
		values
		(
			#{memberID,jdbcType=NUMERIC}, #{mail,jdbcType=VARCHAR}, #{mobile,jdbcType=NUMERIC}, #{pwd,jdbcType=VARCHAR}, 
			#{niceName,jdbcType=NUMERIC}
		)
	</insert>
	<select id="query" resultMap="memberMap" parameterType="com.codedak.lottery.entity.Member">
	    select ID,MAIL,MOBILE,PASSWORD,NICE_NAME,CREATE_TIME,UPDATE_TIME,MARK from MEMBER 
	    where  1=1
	      <where>
			<if test="memberID != null">and ID = #{memberID}</if>
			<if test="mail != null">and MAIL = #{mail}</if>
			<if test="mobile != null">and MOBILE = #{mobile}</if>
			<if test="pwd != null">and PASSWORD = #{pwd}</if>
	      </where>
	</select>
</mapper>